body {
    font-family: Arial;
  }
  
  #instructions {
    color: green;
    font-size: 15px;
  }
  
  #tallyShow {
    transition-duration: 0.2s;
    font-size: 100px;
    color: green;
  }

  #instructions1 {
    color: red;
    font-size: 15px;
  }
  
  #tallyShow1 {
    transition-duration: 0.2s;
    font-size: 100px;
    color: red;
  }